<!-- <nav>
  {% for item in site.data.navigation %}
  <a
    href="{{ item.link }}"
    class="{% if page.url == item.link %}active{% endif %}"
    >{{ item.name }}</a
  >
  {% endfor %}
</nav> -->
<header>
  <div>
    {% if page.url == "/" %}
      <h1>Denis Krasulin</h1>
    {% else %}
      <a href="/">
        <h1>Denis Krasulin</h1>
      </a>
    {% endif %}
  </div>
  <div>
    <p>
      <i class="fab fa-github">&nbsp;<a href="https://github.com/efojs">GitHub</a></i>
    </p>
  </div>
  <div>
    <p>
      <i class="fab fa-stack-overflow">&nbsp;<a href="https://stackoverflow.com/users/story/2936673">Stack Overflow</a></i>
    </p>
  </div>
  <div>
    <p>
      <i class="fab fa-linkedin">&nbsp;<a href="https://www.linkedin.com/in/deniskrasulin/">LinkedIn</a></i>
    </p>
  </div>
  <div>
    <p>
      <a href="mailto:denis@efojs.com">denis@efojs.com</a>
    </p>
  </div>

</header>
