<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> {% if page.title %} {{ page.title }} - {% endif %}{{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <!-- <link rel="stylesheet" type="text/css" href="/letters/letters.css"> -->

  <link rel="icon" type="image/png" sizes="32x32" href="favicon.png" />


  {% feed_meta %}
  {% seo %}

</head>

<body>
  {% include header.html %}

  <main>
    <div class="shadow-container"><div class="shad-top"></div></div>
    {{ content}}
    <div class="shadow-container"><div class="shad-bot"></div></div>
  </main>

  {% include footer.html %}
<script src="/assets/javascript/bundle.js" charset="utf-8"></script>
</body>

</html>
